{% ckan_extends %}

{% block header_wrapper %}
    {% block header_account %}
        {{ super() }}
    {% endblock %}
    <header class="navbar navbar-static-top masthead">
        {% block header_debug %}
            {{ super() }}
        {% endblock %}
        <div class="container-fluid">
            <hgroup class="{{ g.header_class }} pull-left">
                {% block header_logo %}
                    {{ super() }}
                {% endblock %}
            </hgroup>
                {% set header_menu = h.get_header_menu() %}
                {% set mobile_menu = h.get_header_menu('mobile') %}

                {% if header_menu and mobile_menu %}
                    {{ header_menu|safe }}
                    {{ mobile_menu|safe }}
                {% else %}
                    <div class="container">
                        <div class="collapse navbar-collapse" id="main-navigation-toggle">
                            <nav class="section navigation">
                                <ul class="nav nav-pills">
                                    {% block header_site_navigation_tabs %}
                                        {{ super()}}
                                    {% endblock %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
        </div>
        {% block header_site_search %}
            {{ super() }}
        {% endblock %}
    </header>
{% endblock %}
